html{
  width:100%;
  height:100%;
}

body{
  height:100%;
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background: #ebebeb;
}

.wrapper{
  display:flex;
  width:100%;
}
.sidebar{
  width:200px;
  height:100%;
  background:#242b3c;
  position:fixed;

  .logo{
    padding:20px;
  }

  .sidebar-bottom{
    height:100px;
    width:100%;
    position:absolute;
    bottom:0;
    text-align:center;
  }
}

.sidebar-wrapper{
  width:200px;
  height:100%;
  position: relative;
  flex: 0 0 200px;
}

.main{
  flex:1;
  height:100%;
}

h2{
  margin-top:25px;
  font-size:25pt;
  text-align: center;
}

.template-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.template-box{
  width: 250px;
  height: 250px;
  border-radius: 4px;
  margin: 10px;
  background:#fff;
  overflow: hidden;
  transition:all .5s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(177, 177, 177, 0.23);
  .title{
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    background:#242b3c;
    color:#fff;
  }
}
.template-box:hover{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav{
  ul{
    padding:0;
    margin:0;
    list-style-type:none;
    li{
      background:#3a4357;
      padding:20px;
      cursor:pointer;
      transition:all .5s ease;
      color:#fff;
      font-size:13pt;

      .fa-lg{
        float:right;
      }
      &:hover{
        background:#333b4a;
      }
    }
  }
}

.btn{
  border:0;
margin:auto;
  padding:10px;
  cursor:pointer;
  background:#242b3c;
  color:#fff;
  border-radius:4px;
}

.btn-sidebar{
  border-radius:0;
  background:#3a4357;
}

.form-default{
  position: relative;
      max-width: 500px;
      margin: auto;
      text-align: center;
      border-radius: 4px;
      padding: 20px;
}

input{
  border: 0;
background: #fff;
border-radius: 4px;
height: 35px;
padding: 5px;
width: 100%;
margin-bottom: 10px;
font-size: 12pt;
color: #242b3c;
}

textarea{
  border: 0;
background: #fff;
border-radius: 4px;
padding: 5px;
width: 100%;
margin-bottom: 10px;
font-size: 12pt;
color: #242b3c;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#242b3c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#242b3c;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#242b3c;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#242b3c;
}
::-ms-input-placeholder { /* Microsoft Edge */
color:#242b3c;
}

::placeholder { /* Most modern browsers support this now. */
color:#242b3c;
}
