<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <title>YourGrade</title>

    <link rel="stylesheet" href="./css/admin.css" />
    <link rel="manifest" href="site.webmanifest">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/sha256.min.js"></script>
    <script src="./js/FileSaver.min.js"></script>

    <script src="./js/controllers/admin/MainController.js"></script>
    <script src="./js/controllers/admin/DashboardController.js"></script>
    <script src="./js/controllers/admin/GroupsController.js"></script>
    <script src="./js/controllers/admin/LoginController.js"></script>
    <script src="./js/controllers/admin/TemplatesController.js"></script>

    <script src="./js/services/admin/TemplateService.js"></script>
    <script src="./js/services/admin/GroupsService.js"></script>
    <script src="./js/services/admin/LoginService.js"></script>
    <script src="./js/services/admin/MainService.js"></script>
    <script src="./js/services/ModalService.js"></script>
    <script src="./js/services/LangService.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainCtrl">

<div class="wrapper" id="wrapper">
    <div class="sidebar-wrapper" ng-if="showMenu">
        <div class="sidebar">
            <div class="logo">
                <a href="admin/#/dashboard"><img src="../images/logo_nhlstenden.svg"></a>
            </div>
            <nav class="nav">
                <ul>
                    <a href="admin/#/templates"><li>{{lang.Admin.Menu.Templates}}<i class="far fa-file fa-lg"></i></li></a>
                    <a href="admin/#/groups"><li>{{lang.Admin.Menu.Groups}} <i class="fas fa-users fa-lg"></i></li></a>
                </ul>
            </nav>
            <div class="sidebar-bottom">
                <button class="btn btn-sidebar" ng-click="settings()">{{lang.Admin.Menu.Settings}} <i class="fas fa-cog fa-lg"></i></button>
                <button class="btn btn-sidebar" ng-click="logout()">{{lang.Admin.Menu.LogOut}} <i class="fas fa-sign-out-alt fa-lg"></i></button>
            </div>
        </div>
    </div>

    <div ng-view id="view" class="main" ng-if="!isViewSettings && !isNewUser">

    </div>

    <div ng-if="isViewSettings" class="main">
        <button class="btn-close" ng-click="closeSettings()"><i class="fa fa-times"></i></button>
        <h2>{{lang.Admin.Headings.Settings}}</h2>
        <form action=""  class="form-default" method="post">
            <div class="form-item">
                <label>{{lang.Admin.Forms.Languages.Labels.Language}}</label>
                <select ng-model="settingsLang" ng-change="changeLang(settingsLang)">
                    <option selected value="Eng">{{lang.Admin.Forms.Languages.Labels.English}}</option>
                    <option value="Ned">{{lang.Admin.Forms.Languages.Labels.Nederlands}}</option>
                </select>
            </div>
            <button ng-if="isAdmin" class="btn btn-sidebar" ng-click="newUser()">{{lang.Buttons.AddUser}} <i class="fas fa-plus fa-lg"></i></button>
        </form>
    </div>

    <div ng-if="isNewUser" class="main">
        <button class="btn-close" ng-click="closeNewUser()"><i class="fa fa-times"></i></button>
        <h2>{{lang.Admin.Headings.NewUser}}</h2>
        <div class="form-default">
            <div class="form-item">
                 <label for="name">{{lang.Admin.Forms.Languages.NewUser.Name}}</label>
                <input type="text" placeholder="Name" id="name" name="name" ng-model="newUser.username">
            </div>
            <div class="form-item">
                 <label for="email">{{lang.Admin.Forms.Languages.NewUser.Email}}</label>
                <input type="email" placeholder="E-mail" id="email" name="email" ng-model="newUser.useremail">
            </div>
            <div class="form-item">
                 <label for="isAdmin">{{lang.Admin.Forms.Languages.NewUser.isAdmin}}</label>
                <input type="checkbox" name="isAdmin" value="Yes" id="isAdmin" ng-model="newUser.isAdmin">Is an admin
            </div>
            <div class="form-item">
                <!-- <label for="msg">Message:</label> -->
                <input type="password" placeholder="Password" name="password" id="password" ng-model="newUser.password">
            </div>
            <div class="form-item">
                <select name="lang" ng-model="newUser.lang">
                    <option value="en">{{lang.Admin.Forms.Languages.Labels.English}}</option>
                    <option value="nl">{{lang.Admin.Forms.Languages.Labels.Nederlands}}</option>
                </select>
            </div>
            <div class="form-item">
                <button type="button" class="btn btn-submit" ng-click="createNewUser(newUser)">{{lang.Buttons.Submit}} <i class="fas fa-sign-in-alt fa-lg"></i></button>
            </div>
        </div>
    </div>

</div>
</body>
</html>
