$sidebar-background: #2c3e50;
$heading-background: #2c3e50;
$nav-background: lighten(#2c3e50, 5%);
$button-background: lighten(#2c3e50, 5%);
$button-sidebar-background: lighten(#2c3e50, 5%);
$submit-background: lighten(#2c3e50, 5%);

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ebebeb;
}

button{
  box-sizing: border-box;
}
#view {
  flex: 1;
  height: 100%;
  h2 {
    margin-top: 25px;
    font-size: 25pt;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar-wrapper {
  width: 200px;
  height: 100%;
  position: relative;
  flex: 0 0 200px;
}

.sidebar {
  width: 200px;
  height: 100%;
  background: $sidebar-background;
  position: fixed;
  .logo {
    padding: 20px;
  }

  .sidebar-bottom {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
}

.loading {
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(208, 208, 208, 0.35);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: flex;

  .loading-icon {
    font-size: 50pt;
    i {
      padding: 0;
      margin: 0;
    }
  }
}

tr{
  border-bottom:1px solid rgba(86, 86, 86, 0.12941176470588237)
}
nav {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      background: $nav-background;

      transition: all .5s ease;
      color: #fff;
      font-size: 13pt;

      .fa-lg {
        float: right;
      }
      &:hover {
        background: darken($nav-background, 3%);
      }
    }
    a {
      display: block;
      cursor: pointer;
      height: 100%;
      width: 100%;
      padding: 20px;
      text-decoration: none;
      color: #fff;
      box-sizing: border-box;
    }
  }
}

.btn {
  border: 0;
  margin: 4px 0;
  padding: 10px;
  min-height: 35px;
  cursor: pointer;
  background: $button-background;
  color: #fff;
  border-radius: 4px;
  transition: all .2s ease;
  display: inline-block;
  &:hover {
    background: lighten($button-background, 5%);
    padding:12px;
  }
  i{
    margin-left:5px;
    margin-right:5px;
  }

  svg{
    margin-left:5px;
    margin-right:5px;
  }
}

.btn-sidebar {
  border-radius: 0;
  display: block;
  width:100%;
  background: $button-sidebar-background;
  &:hover {
    background: lighten($button-sidebar-background, 5%);
  }
}

.btn-login {
  border-radius: 4px;
  width: 100%;
  background: #3a4357;
  float: left;
}

.btn-close {
  float: right;
  margin-right: 32px;
  cursor: pointer;
  border: 0;
  background: inherit;
  padding: 0;
  font-size: 25pt;
  transition: all .2s ease;
  &:hover {
    font-size: 28pt;
  }
}

.btn-remove {
  max-width: 50px;
  display: block;
  font-size: 15pt;
  margin: 10px;
}

.btn-download {
  max-width: 50px;
  display: block;
  font-size: 15pt;
  margin: 10px;
}

.btn-approve {
  max-width: 50px;
  display: block;
  font-size: 15pt;
  margin: 10px;
}

.btn-sendMails {
  max-width: 50px;
  display: block;
  font-size: 15pt;
  margin: 10px;
}

.btn-add {
  border: 0;
  background: inherit;
  font-size: 25pt;
  transition: all .2s ease;
  cursor: pointer;
  &:hover {
    font-size: 28pt;
  }
}

.btn-create {
  background: $submit-background;
  width: 100%;
  &:hover {
    background: lighten($submit-background, 5%);
  }
}

.btn-create {
  width: 150px;
}

.btn-next {
  float: right;
}

.btn-previous {
  float: left;
}

.main {
  flex: 1;
  height: 100%;
  h2 {
    margin-top: 25px;
    font-size: 25pt;
    text-align: center;
  }
}

.template-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.template-box {
  width: 230px;
  min-height: 250px;
  border-radius: 4px;
  margin: 10px;
  background: #fff;
  overflow: hidden;
  transition: all .5s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(177, 177, 177, 0.23);
  .title {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: $heading-background;
    color: #fff;
    font-size: 13pt;
    h3{
      margin:0;
      padding:5px;
    }
  }
  .add {
    margin-top: 70px;
    text-align: center;
  }
  .info {
    text-align: center;
    color: $heading-background;
    padding: 10px;
  }
  table {
    text-align: left;
    width: 100%;
    tr {
      margin-bottom: 5px;
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(86, 86, 86, 0.12941176470588237);
    }
    td {
      width: 50%;
    }
  }
}

.group-done{
  color: #0db40d;
  font-weight: 600;
}

.template-box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.form-default {
  position: relative;
  max-width: 500px;
  margin: auto;
  border-radius: 4px;
  padding: 20px;
}

.form-login {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.form-control {
  width: 500px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .btn {
    margin: 10px;
    flex: 1;
    font-weight:600;
  }
}

.members-overview {
  width: 500px;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px rgba(86, 86, 86, 0.12941176470588237);
  margin: auto;
  table {
    width: 100%;
    th {
      margin: 0;
      padding: 0;
    }
  }
}

.content-box {
  width: 500px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 10px;
}

.info {
  margin: 10px;
}

.modal-background {
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(78, 78, 78, 0.73);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: flex;
}

.modal {
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: middle;
  justify-content: center;
  position: relative;
}

.modal-text {
  padding: 20px;
}

.modal-heading {
  width: 350px;
  background: $sidebar-background;
  margin-top: 0;
  padding: 10px;
  color: #fff;
}

.modal-close {
  background: $button-background;
  width: 300px;
  margin: 50px auto 20px;
}
