$sidebar-background: #242b3c;
$heading-background: #2c3e50;
$nav-background: lighten(#2c3e50, 5%);
$button-background: lighten(#2c3e50, 2%);
$button-sidebar-background: lighten(#2c3e50, 5%);
$submit-background: #424f6d;

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.form-default {
  padding: 20px;
  border-radius: 4px;
  max-width: 450px;
  margin: auto;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="time"],
input[type="number"],
input[type="password"],
select {
  border: 0;
  background: #fff;
  border-radius: 4px;
  height: 35px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12pt;
  color: #242b3c;
  box-shadow: 1px 1px rgba(86, 86, 86, 0.12941176470588237);
  box-sizing: border-box;
  outline: none;
  &:focus {
    border: 1px solid transparentize($nav-background, 0.5);
  }
}

label {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15pt;
  font-weight: 600;
  display: block;
}

textarea {
  outline: none;
  border: 0;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12pt;
  color: #242b3c;
  box-shadow: 1px 1px rgba(86, 86, 86, 0.12941176470588237);
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #242b3c;
  opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #242b3c;
  opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #242b3c;
  opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #242b3c;
  opacity: 0.5;
}

::placeholder { /* Most modern browsers support this now. */
  color: #242b3c;
  opacity: 0.5;
}

.btn {
  border: 0;
  margin: auto;
  cursor: pointer;
  min-height: 35px;
  background: #242b3c;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all .5s ease;
  font-weight:600;
}

.btn-submit {
  background: $submit-background;
  width: 100%;

  &:hover {
    background: lighten($submit-background, 5%);
  }
}
