<!-- ALL GROUPS -->
<div ng-if="!isCreateGroup && !isViewGroup">
    <div ng-if="loading">
        <div class="loading">
            <div class="loading-icon"><i class="fas fa-sync fa-spin"></i></div>
        </div>
    </div>
    <div ng-if="!loading">
        <h2>Groups</h2>
        <div class="template-row">
            <div class="template-box" ng-click="createGroup()">
                <div class="title">NEW GROUP</div>
                <div class="add">
                    <button class="btn-add"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="template-box" ng-repeat="group in groups" ng-click="viewGroup(group)">
                <div class="title">{{group.name}}</div>
                <div class="info">
                    <p ng-if="group.progress < 100">Submitted: {{group.progress | number:1}}%</p>
                    <p ng-if="group.progress == 100">Submitted: <b>{{group.progress | number:1}}%</b></p>
                    <p>Group grade: {{group.groupGrade}}</p>
                    <p>Deadline: {{group.deadline | date:"dd/MM/yyyy' at 'HH:mm"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NEW TEMPLATE -->
<div ng-if="isCreateGroup">
    <button class="btn-close" ng-click="closeCreateGroup()"><i class="fa fa-times"></i></button>
    <h2>{{title}}<span ng-if="state == 'members'"> ({{grade}})</span></h2>

    <form class="form-default" name="groupVariables" ng-if="state == 'general'">
        <div class="form-item error" ng-if="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-item">
            <label for="selectTemplate">Select Template</label>
            <select name="selectTemplate" id="selectTemplate" ng-model="selectedTemplate">
                <option ng-repeat="template in templates" value="{{template.id}}">{{template.name}}</option>
            </select>
        </div>
        <div class="form-item">
            <label for="name">Expiration Date:</label>
            <input type="date" placeholder="Date" id="deadline_date" name="deadline" ng-model="deadline.date">
        </div>
        <div class="form-item">
            <label for="name">Expiration Time:</label>
            <input type="time" placeholder="Time" id="deadline_time" name="deadline" ng-model="deadline.time">
        </div>
        <div class="form-item">
            <label for="name">Name:</label>
            <input type="text" placeholder="Group Name" id="name" name="template_name" ng-model="groupName">
        </div>
        <div class="form-item">
            <label for="grade">Group grade</label>
            <input type="number" placeholder="Group grade" min="1" max="10" name="grade" id="grade" ng-model="grade">
        </div>
        <div class="form-item">
            <button type="button" class="btn btn-next" ng-click="next(selectedTemplate, groupName, deadline, grade)">
                Next <i
                    class="fas fa-arrow-right fa-lg"></i></button>
        </div>
    </form>
    <!-- Second part -->
    <form class="form-default" name="groupMembers" ng-if="state == 'members'">
        <div class="form-item error" ng-if="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-item info" style="width: " ng-if="newPersons.length < 2 && state == 'members'">
            Atleast 2 persons are needed to create a group.
        </div>
        <div class="form-item">
            <!-- <label for="name">Name:</label> -->
            <input type="text" placeholder="Name" name="user_name" ng-model="name">
        </div>
        <div class="form-item">
            <!-- <label for="mail">E-mail:</label> -->
            <input type="text" placeholder="Email" name="user_mail" ng-model="email">
        </div>
        <div class="form-item">
            <!-- <label for="msg">Message:</label> -->
            <button type="button" class="btn btn-create" ng-click="addPersonToList(name, email)">Add <i
                    class="fas fa-plus fa-lg"></i></button>
        </div>
    </form>
    <div class="members-overview" ng-if="newPersons.length > 0 && state == 'members'">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="person in newPersons">
                <td>{{person.name}}</td>
                <td>{{person.email}}</td>
                <td>
                    <button ng-click="removePersonFromList($index)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-control" ng-if="newPersons.length > 1">
        <button type="button" class="btn btn-previous" ng-click="previous()"><i
                class="fas fa-arrow-left fa-lg"></i> Back
        </button>
        <button type="button" class="btn btn-submit" ng-click="submit(selectedTemplate, groupName, deadline, grade)">
            Submit <i
                class="fas fa-sign-in-alt fa-lg"></i></button>
    </div>
</div>

<!-- VIEW GROUP -->
<div ng-if="isViewGroup">
    <button class="btn-close" ng-click="closeViewGroup()"><i class="fa fa-times"></i></button>
    <h2>Group Details</h2>
    <div class="content-box">
        <h3>Group Name</h3>
        <p>{{singleGroup.name}}</p>
        <h3>Group id</h3>
        <p>{{singleGroup.id}}</p>
        <h3>Members {{singleGroup.progress | number:1}}%</h3>
        <table>
            <tr ng-repeat="member in singleGroup.groupMembers">
                <td>{{member.name}}</td>
                <td>{{member.hasSubmitted ? "Completed" : "Not Completed"}}</td>
            </tr>
        </table>
        <h3>Group grade</h3>
        <p>{{singleGroup.groupGrade}}</p>
        <h3>Deadline</h3>
        <p>{{singleGroup.deadline | date:"dd/MM/yyyy' at 'HH:mm"}}</p>
        <button class="btn btn-remove" ng-click="deleteGroup(singleGroup)"><i class="fa fa-trash"></i></button>
        <button ng-if="!singleGroup.isSend" class="btn btn-sendMails" ng-click="openGroupAndSendMail(singleGroup)"><i class="fa fa-envelope"></i></button>
        <button ng-if="!singleGroup.isApproved && singleGroup.isSend && singleGroup.progress == 100" class="btn btn-approve" ng-click="approveGroup(singleGroup)"><i class="fa fa-check"></i></button>
        <button ng-if="singleGroup.isApproved && singleGroup.isSend" class="btn btn-download" ng-click="downloadPDF(singleGroup)"><i class="fa fa-download"></i></button>
    </div>
</div>