<!-- Loading -->
<div ng-if="loading">
    <div class="loading">
        <div class="loading-icon">
            <i class="fas fa-sync fa-spin"></i>
        </div>
    </div>
</div>

<!-- ALL TEMPLATES -->
<div ng-if="!isCreateTemplate && !isViewTemplate && !loading">
    <h2>{{lang.Admin.Menu.Templates}}</h2>
    <div class="template-row">
        <div class="template-box" ng-click="createTemplate()">
            <div class="title"><h3>{{lang.Admin.Forms.FormAddTemplate.Name}}</h3></div>
            <div class="add">
                <button class="btn-add"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="template-box" ng-repeat="template in templates" ng-click="viewTemplate(template)">
            <div class="title"><h3>{{template.name}}</h3></div>
            <div class="info">
                <table>
                    <tr>
                        <td>{{lang.Admin.Boxes.TemplateBox.CommentNeeded}}</td>
                        <td> {{template.commentNeeded ? "Yes" : "No"}}</td>
                    </tr>
                    <tr>
                        <td>{{lang.Admin.Boxes.TemplateBox.MaxGradeDeviance}}</td>
                        <td>{{template.gradeDeviation}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- NEW TEMPLATE -->
<div ng-if="isCreateTemplate && !loading">
    <button class="btn-close" ng-click="closeCreateTemplate()"><i class="fa fa-times"></i></button>
    <h2>{{lang.Admin.Forms.FormAddTemplate.Name}}</h2>
    <div class="form-default">
        <div class="form-item error" ng-if="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-item">
            <label for="name">{{lang.Admin.Forms.FormAddTemplate.Labels.Name}}</label>
            <input type="text" placeholder="Template Name" id="name" name="group_name" ng-model="templateName">
            <div class="form-item">
                <label for="gradeDifference">{{lang.Admin.Forms.FormAddTemplate.Labels.Difference}}</label>
                <input type="number" min="0" max="10" placeholder="Max grade difference (number)" name="gradeDifference"
                       id="gradeDifference" step="any" value="7" ng-model="gradeDifference">
            </div>
            <div class="form-item">
                <label for="withDescription">{{lang.Admin.Forms.FormAddTemplate.Labels.CommentRequired}}</label>
                <input type="checkbox" name="withDescription" value="Yes" id="withDescription"
                       ng-model="withDescription">
            </div>
            <div class="form-item">
                <button type="button" class="btn btn-submit"
                        ng-click="submit(gradeDifference, withDescription, templateName)">{{lang.Buttons.Submit}} <i
                        class="fas fa-sign-in-alt fa-lg"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW TEMPLATE -->
<div ng-if="isViewTemplate && !loading">
    <button class="btn-close" ng-click="closeViewTemplate()"><i class="fa fa-times"></i></button>
    <h2>{{lang.Admin.Headings.TemplateDetails}}</h2>
    <div class="content-box">
        <h3>{{lang.Admin.Details.Templates.TemplateName}}</h3>
        {{singleTemplate.name}}
        <h3>{{lang.Admin.Details.Templates.TemplateId}}</h3>
        {{singleTemplate.id}}
        <h3>{{lang.Admin.Details.Templates.CommentNeeded}}</h3>
        {{singleTemplate.isCommentNeeded ? "Yes": "No"}}
        <h3>{{lang.Admin.Details.Templates.GradeDeviation}}</h3>
        {{singleTemplate.gradeDeviation}}
        <button class="btn btn-remove" ng-click="deleteTemplate(singleTemplate)">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
