<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <title>YourGrade</title>

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/user.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/controllers/GradeController.js"></script>

    <script src="js/services/GradeService.js"></script>
    <script src="js/services/ModalService.js"></script>
    <script src="js/services/LangService.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
</head>

<body ng-app="myApp" ng-controller="GradeCtrl">

    <nav class="nav">
        <img class="logo" src="images/logo_nhlstenden.svg">
    </nav>
    <div class="main">
        <div ng-if="!token">
            <h2>{{lang.User.Info.NoToken}}</h2>
            <h4>{{lang.User.Info.FillInToken}}</h4>
            <form action=""  class="form-default" method="post">
                <div class="form-item">
                    <input type="text" placeholder="Token" id="token" name="token" ng-model="tempToken">
                </div>
                <div class="form-item">
                    <button type="button" class="btn btn-submit" value="submit" ng-click="newToken(tempToken)">Submit</button>
                </div>
            </form>
        </div>

        <div ng-if="token">
            <h4>Token: {{token}}</h4>
            <h5 ng-if="isNew">{{lang.User.Info.PointsToSpent}} {{checkTotalGradeCount()}}</h5>
            <h5 ng-if="isOld">{{lang.User.Errors.TokenUsed}}</h5>
            <h5 ng-if="isSubmitted">{{lang.User.Info.GradesCorrectlySubmitted}}</h5>
            <h5 ng-if="isError">{{lang.User.Errors.InvalidToken}}</h5>
            <div ng-if="isNew">
                <div class="form-default" ng-repeat="rate in rating.ratings">
                    <div class="form-item">
                        {{rate.ratedMember.name}}
                    </div>
                    <div class="form-item">
                         <label for="grade">{{lang.User.Forms.Grade.Labels.Grade}}</label>
                        <input type="number" id="grade" min="{{(rating.groupGrade - rating.maxGradeDifference)}}" max="{{(rating.groupGrade + rating.maxGradeDifference)}}"  placeholder="Grade" ng-model="rate.grade">
                    </div>
                    <div class="form-item" ng-if="rating.isCommentNeeded">
                         <label for="comment">{{lang.User.Forms.Grade.Labels.Comment}}</label>
                        <textarea rows="5"  id="comment" ng-model="rate.comment"></textarea>
                    </div>
                </div>
                <div class="form-default">
                    <div class="form-item">
                        <input type="submit" class="btn btn-submit" value="submit" ng-click="submit(rating)">
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
